<div class="cookies-banner-container" id="cookies-banner-container">
	<div class="cb-message" id="cb-message">
		<div class="cb-text">
			{{ settings.cookies_banner_text }} <a class="cb-privacy-page" href="/pages/{{ settings.cookies_banner_privacy_page }}">{{ settings.cookies_banner_more_info }}</a>
		</div>

		<button class="cb-accept" el="cookie-acceptance">{{ settings.cookies_banner_button_text }}</button>
	</div>
</div>