<div id="coming-soon" class="modal coming-soon-popup">
	<div class="modal-bg"></div>

	<div class="modal-content pdh">
    <div class="klaviyo-form-{{ coming_soon_id }}"></div>

    <i class="icon icon-close modal-close"></i>
  </div>
</div>