<div id="video-full" class="modal fs dn">
	<div class="modal-bg"></div>
	<div class="modal-content">
		<div class="video-content"></div>
		<i class="icon icon-close modal-close invert"></i>
	</div>
</div>