<div class="pos-grid__variant-compatibility-warning pos-variant-compatibility-warning" pos-variant-compatibility-warning="container">
  {% if selected_variant.sku == 'PAD-A0496-BLKCSE-000-W1' %}
    {{ 'products.product.variant_compatibility_warning.ipad_pro_2020' | t }}  
  {% endif %}
</div>