<div class="pdh cart-reviews">
  <div class="mw cart-reviews__inner">
    <h2 class="cart-reviews__title">{{ 'cart.reviews.title' | t }}</h2>

    <ul class="cart-reviews__carousel" reviews="gallery">
      {% for block in section.blocks %}
        <li class="cart-reviews__slide reviews-slide">
          <div class="reviews-slide__inner">
            <div class="reviews-slide__details">
              <div class="reviews-slide__name">{{ block.settings.name }}</div>

              <div class="reviews-slide__verified">
                {% include 'icon-misc' with icon: 'checkmark' %}

                {{ 'cart.reviews.verified' | t }}
              </div>

              <div class="reviews-slide__stars">
                {% comment %}
                  - This is slightly convoluted but it's because they want any rating over .5 to show a full star
                  but show half stars for rating exactly equally .5 (eg. 4.5).
                  - Once limit is reached then the remaining stars need to be empty.
                {% endcomment %}
                {% assign rating_with_decimal = block.settings.rating | plus: 0 | round: 1 %}
                {% assign rating_mod = block.settings.rating | plus: 0 | modulo: 1 %}
                {% assign limit_reached = false %}

                {% for i in (1..5) %}
                  {% if i <= rating_with_decimal %}
                    {% include 'icon-misc' with icon: 'review-star-full' %}
                  {% else %}
                    {% if limit_reached %}
                      {% include 'icon-misc' with icon: 'review-star-empty' %}

                    {% else %}
                      {% if rating_mod == 0 %}
                        {% include 'icon-misc' with icon: 'review-star-empty' %}
                      {% elsif rating_mod <= 0.5 %}
                        {% include 'icon-misc' with icon: 'review-star-half' %}
                      {% else %}
                        {% include 'icon-misc' with icon: 'review-star-full' %}
                      {% endif %}

                      {% assign limit_reached = true %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="reviews-slide__quote">
              "{{ block.settings.quote }}"
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Accessory Reviews",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "text",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "rating",
          "label": "Rating",
          "info": "Enter a number between 1.0 and 5.0"
        },
        {
          "type": "text",
          "id": "quote",
          "label": "Quote"
        }
      ]
    }
  ]
}
{% endschema %}