<div class="center">
  {% include 'icon-misc' with icon: 'mous-logo' %}
</div>
<h2>{{ section.settings.header }}</h2>
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "We're Currently Tinkering With Things"
      }
    ]
  }
{% endschema %}
