{% include 'detect-store' %}

<div class="page pdh pdv">
  <h1 class="tc mt0 page-title">{{ page.title }}</h1>

  <div class="rte w-100">
    {{ page.content }}

    <script type="text/javascript">(function(){try{var a=addEventListener,b=function(){};a&&a("touchstart",b);a&&a("touchmove",b); a&&a("touchend",b)}catch(e){}}());</script>

    <iframe src="https://www.myunidays.com/partners/mous/embedded/online" frameBorder="0" style="display: block; margin: 0 auto; width: 100%; max-width: 1200px; height: 700px;"></iframe>
  </div>
</div>
