<div class="page pdv">
  <div class="mw pdh tc">
    <h1 class="measure center mv0 page-title">{{ page.title }}</h1>

    {% include 'page-subnav' with nav: 'shipping-returns-subnav' %}
  </div>

  <div class="mw pdh rte">
    {{ page.content }}
  </div>
</div>