<div class="page mw-small pdh pdv {% if page.handle contains 'privacy' or page.handle contains 'terms' or page.handle contains 'warranty' %}notranslate{% endif %}">
    <h1 class="measure tc mt0 page-title">{{ page.title }}</h1>
    <div class="rte w-100">
        {{ page.content }}  
    </div>
</div>
