<div class="page mw-small pdh pt3 pb5 tc">
  <h1 class="measure tc mt0 page-title">{{ 'general.404.title' | t }}</h1>

  <div class="rte w-100 center tc">
    <p>{{ 'general.404.subtext' | t }}</p>
    <a href="/apps/sitemap" class="btn">{{ 'general.404.link' | t }}</a>
  </div>
</div>